<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="/create-event" method="post">
        <input type="text" name="eventtitle" placeholder="Event Title">
        <input type="date" name="eventdate">
        Event Start Time : <input type="time" name="eventstarttime">
        Event End Time : <input type="time" name="eventendtime">
        Link : <input type="url" name="eventurl">
        <input type="submit" value="Submit">
    </form>

</body>
</html>